In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

CRSP Analysis-Entirety of United States Stock Market

In [2]:
# import CRSP data (monthly prices and returns)
crsp = pd.read_csv('../downloads/crsp-2021-01-14.csv', parse_dates=['date'], na_values=['A', 'B', 'C'])

# there are some duplicate PERMNO-date observations...
# sort to make process repeatable
# then drop duplicate PERMNO-date pairs (by default keep first pair)
crsp.sort_values(['PERMNO', 'date', 'RET'], inplace=True)
crsp.drop_duplicates(subset=['PERMNO', 'date'], inplace=True)
crsp

,PERMNO,date,SHRCD,EXCHCD,TSYMBOL,PERMCO,FACPR,FACSHR,PRC,RET,SHROUT,RETX
0,10000,1985-12-31,NaN,NaN,NaN,7952,NaN,NaN,NaN,NaN,NaN,NaN
1,10000,1986-01-31,10.0,3.0,OMFGA,7952,NaN,NaN,-4.37500,NaN,3680.0,NaN
2,10000,1986-02-28,10.0,3.0,OMFGA,7952,NaN,NaN,-3.25000,-0.257143,3680.0,-0.257143
3,10000,1986-03-31,10.0,3.0,OMFGA,7952,NaN,NaN,-4.43750,0.365385,3680.0,0.365385
4,10000,1986-04-30,10.0,3.0,OMFGA,7952,NaN,NaN,-4.00000,-0.098592,3793.0,-0.098592
...,...,...,...,...,...,...,...,...,...,...,...,...
4619717,93436,2019-08-30,11.0,3.0,TSLA,53453,NaN,NaN,225.61000,-0.066222,179127.0,-0.066222
4619718,93436,2019-09-30,11.0,3.0,TSLA,53453,NaN,NaN,240.87000,0.067639,180000.0,0.067639
4619719,93436,2019-10-31,11.0,3.0,TSLA,53453,NaN,NaN,314.92001,0.307427,180245.0,0.307427
4619720,93436,2019-11-29,11.0,3.0,TSLA,53453,NaN,NaN,329.94000,0.047695,180245.0,0.047695
4619721,93436,2019-12-31,11.0,3.0,TSLA,53453,NaN,NaN,418.32999,0.267897,180245.0,0.267897

In [3]:
# import Compustat data (fundamentals)
compustat = pd.read_csv('../downloads/compustat-2021-01-14.csv', parse_dates=['datadate'])

# there are some duplicate PERMNO-date observations (LPERMNO and datadate in Compustat)...
# sort to make process repeatable
# then drop duplicate PERMNO-date pairs and keep pair with latest fyear (fiscal year)
compustat.sort_values(['LPERMNO', 'datadate', 'fyear'], inplace=True)
compustat.drop_duplicates(subset=['LPERMNO', 'datadate'], inplace=True, keep='last')
compustat

,GVKEY,LPERMNO,LPERMCO,datadate,fyear,indfmt,consol,popsrc,datafmt,conm,...,at,ceq,csho,dlc,dltt,dvc,ni,oibdp,costat,prcc_f
160903,13007,10000,7952,1986-10-31,1986.0,INDL,C,D,STD,OPTIMUM MANUFACTURING -CL A,...,2.115,0.418,3.843,0.968,0.058,0.000,-0.730,-0.585,I,0.750
160808,12994,10001,7953,1986-06-30,1986.0,INDL,C,D,STD,GAS NATURAL INC,...,12.242,5.432,0.985,0.343,2.946,0.365,0.669,1.895,I,6.000
160809,12994,10001,7953,1987-06-30,1987.0,INDL,C,D,STD,GAS NATURAL INC,...,11.771,5.369,0.991,0.377,2.750,0.416,0.312,1.083,I,5.875
160810,12994,10001,7953,1988-06-30,1988.0,INDL,C,D,STD,GAS NATURAL INC,...,11.735,5.512,0.992,0.325,2.555,0.427,0.564,1.422,I,6.250
160811,12994,10001,7953,1989-06-30,1989.0,INDL,C,D,STD,GAS NATURAL INC,...,18.565,6.321,1.001,0.185,7.370,0.459,1.208,3.054,I,7.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302112,184996,93436,53453,2015-12-31,2015.0,INDL,C,D,STD,TESLA INC,...,8092.460,1088.944,131.425,633.166,2040.375,0.000,-888.663,-294.039,A,240.010
302113,184996,93436,53453,2016-12-31,2016.0,INDL,C,D,STD,TESLA INC,...,22664.076,4752.911,161.561,1202.178,6053.860,0.000,-674.914,301.459,A,213.690
302114,184996,93436,53453,2017-12-31,2017.0,INDL,C,D,STD,TESLA INC,...,28655.372,4237.242,168.797,963.862,9486.248,0.000,-1961.400,70.917,A,311.350
302115,184996,93436,53453,2018-12-31,2018.0,INDL,C,D,STD,TESLA INC,...,29739.614,4923.243,172.603,2629.460,9454.055,0.000,-976.091,1634.946,A,332.800
302116,184996,93436,53453,2019-12-31,2019.0,INDL,C,D,STD,TESLA INC,...,34309.000,6618.000,181.000,2070.000,12627.000,0.000,-862.000,2187.000,A,418.330

In [4]:
# make sure that returns and fundamentals are dated with last day of the month
crsp['date'] += pd.offsets.MonthEnd(0)
compustat['datadate'] += pd.offsets.MonthEnd(0)

In [5]:
# set up for pd.merge_asof()
crsp.sort_values(['date', 'PERMNO'], inplace=True)
crsp.head()

,PERMNO,date,SHRCD,EXCHCD,TSYMBOL,PERMCO,FACPR,FACSHR,PRC,RET,SHROUT,RETX
918,10006,1925-12-31,10.0,1.0,NaN,22156,NaN,NaN,109.0,NaN,600.0,NaN
2388,10014,1925-12-31,NaN,NaN,NaN,22157,NaN,NaN,NaN,NaN,NaN,NaN
3794,10022,1925-12-31,10.0,1.0,NaN,22158,NaN,NaN,56.0,NaN,200.0,NaN
5596,10030,1925-12-31,10.0,1.0,NaN,22160,NaN,NaN,150.0,NaN,156.0,NaN
8764,10049,1925-12-31,12.0,1.0,NaN,22161,NaN,NaN,74.0,NaN,250.0,NaN

In [6]:
compustat.sort_values(['datadate', 'LPERMNO'], inplace=True)
compustat.head()

,GVKEY,LPERMNO,LPERMCO,datadate,fyear,indfmt,consol,popsrc,datafmt,conm,...,at,ceq,csho,dlc,dltt,dvc,ni,oibdp,costat,prcc_f
70766,6096,12511,20992,1950-06-30,1950.0,INDL,C,D,STD,MALLINCKRODT INC,...,64.7,NaN,0.792,0.1,12.9,1.74,5.78,11.30,I,NaN
71178,6113,12562,22364,1950-06-30,1950.0,INDL,C,D,STD,INTL SALT CO,...,18.8,NaN,0.240,NaN,0.6,1.08,2.21,5.11,I,NaN
7530,1560,15974,20099,1950-06-30,1950.0,INDL,C,D,STD,AMERICAN SHIP BUILDING CO,...,11.7,NaN,0.109,0.0,0.0,0.33,0.25,0.54,I,NaN
140352,11017,16555,21838,1950-06-30,1950.0,INDL,C,D,STD,UNIVERSAL CORP/VA,...,38.9,NaN,0.597,5.3,0.0,1.02,2.69,4.87,A,NaN
109126,8762,18163,21446,1950-06-30,1950.0,INDL,C,D,STD,PROCTER & GAMBLE CO,...,364.9,NaN,9.615,4.8,2.3,31.24,61.09,109.81,A,NaN

In [7]:
df = pd.merge_asof(crsp, compustat, left_on='date', right_on='datadate', left_by='PERMNO', right_by='LPERMNO')

In [8]:
crsp = pd.read_csv(
    '../downloads/crsp-2021-01-14.csv',
    parse_dates=['date'],
    usecols=['PERMNO', 'date', 'RET'],
    na_values=['A', 'B', 'C']
)
crsp.sort_values(['PERMNO', 'date', 'RET'], inplace=True)
crsp.drop_duplicates(['PERMNO', 'date'], inplace=True)

S&P 500 Analysis

In [9]:
vfinx = pd.read_csv('../downloads/VFINX.csv', index_col='Date', parse_dates=True)

In [10]:
vfinx.tail()

                  Open        High         Low       Close   Adj Close  Volume
Date
2020-10-01  312.000000  326.309998  302.040009  302.040009  300.887115       0
2020-11-01  305.760010  336.559998  305.760010  335.070007  333.791046       0
2020-12-01  338.850006  346.600006  337.690002  346.600006  345.277039       0
2021-01-01  341.500000  356.019989  341.500000  343.059998  343.059998       0
2021-02-01  348.660004  363.700012  348.660004  363.000000  363.000000       0

In [11]:
vfinx['Return']= vfinx['Adj Close'].pct_change()

S&P 500 Return

In [12]:
np.round(vfinx['Return'].mean() * 100 * 12, 2)

11.33

CRSP Market Return

In [13]:
np.round(crsp['RET'].mean() * 100 * 12, 2)

12.97

In [14]:
crsp['RET1p'] = crsp['RET'] + 1
crsp_permno = crsp.groupby('PERMNO')['RET1p'].aggregate(np.prod)
crsp_permno -= 1

In [15]:
crsp_permno.describe()

count    3.355600e+04
mean     1.669767e+02
std      1.324415e+04
min     -1.000000e+00
25%     -7.679499e-01
50%      9.326266e-02
75%      1.834166e+00
max      2.358346e+06
Name: RET1p, dtype: float64